<a href="https://colab.research.google.com/github/parkd25/Test-Project-/blob/main/7_23_Session_2_Python_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# As the user for their name 
name = input("What's your name?")

# Print hello and the inputted name 
print("hello, ", name) 

# Print the name inputted 
print(name)

# Ask the use for their name 
name = input("What's your name? ")
print ("hello,", end="")
print(name)

What's your name?Derrick
hello,  Derrick
Derrick
What's your name? Derrick
hello,Derrick

In [ ]:
print("hello,'friend'")

hello,'friend'

In [ ]:
print("hello, \"friend\"")

hello, "friend"

In [ ]:
#  Ask the user for their name 
name = input("What's your name? ")
print(f"hello, {name}")

What's your name? Derrick
hello, Derrick

In [ ]:
# Ask the user for their name 
name = input("What's your name? ")

# Remove whitespace from the str 
name = name.split()

# Print the output 
print(f"hello, {name}")

What's your name? Derrick
hello, ['Derrick']

In [ ]:
# [INPUT] write your name as an input 
name = input("write your name:")

# split input value into a list 
name = name.split()
print(name)

# make a joined string value out of the given list 
print("".join(name))
# print("".join(name.split()))

write your name:Jihoo Derrick Park
['Jihoo', 'Derrick', 'Park']
JihooDerrickPark

In [ ]:
# Ask the user for their name 
name = input("What's your name? ")

# Capitalize the first letter of each word
name = name.title()

# Print the output 
print(f"hello, {name}")

What's your name? derrick park
hello, Derrick Park

In [ ]:
name = input("write your name:")
print("".join(name.split()))

write your name:Derrick Park
DerrickPark

In [ ]:
x = 1 
y = 2 

z = x + y 

print(z)

3

In [ ]:
x = input("What's x? ")
y = input("What's y? ")

z = int(x) + int(y)

print(z)

What's x? 23
What's y? 18
41

In [ ]:
x = int(input("What's x? "))
y = int(input("What's y? "))

print(x + y)

What's x? 23
What's y? 18
41

In [ ]:
x = float(input("What's x? "))
y = float(input("What's y? "))

print(x + y)

What's x? 15.27
What's y? 342.112
357.382

In [ ]:
x = float(input("What's x? "))
y = float(input("What's y? "))

z = round(x + y) 

print(z)

What's x? 23
What's y? 18.3
41

In [ ]:
x = float(input("What's x? "))
y = float(input("What's y? "))

z = round(x+y)

print(f"{z:,}")2

What's x? 100000
What's y? 3000000
3,100,000

In [ ]:
x = float(input("What's x? "))
y = float(input("What's y? "))

z = x / y 

print(z)

What's x? 23
What's y? 23
1.0

In [ ]:
x = float(input("What's x? "))
y = float(input("What's y? "))

z = round(x/y, 5) 

print(z)

What's x? 23
What's y? 18
1.27778

In [ ]:
name = input("What's your name? ").title()

print(f"hello, {name}")

What's your name? Derrick Park
hello, Derrick Park

In [ ]:
def hello(): 
  print("hello")

name = input("What's your name? ")
hello()
print(name)

What's your name? Derrick Park
hello
Derrick Park

In [ ]:
def hello(to):
  print("hello,", to)

name = input("What's your name? ")
hello(name)

What's your name? Derrick Park
hello, Derrick Park

In [ ]:
def main(): 

  name = input("What's your name? ") 
  hello(name) 

  hello() 

def hello(to="world"):
  print("hello,", to)

main()

What's your name? Derrick Park
hello, Derrick Park
hello, world

In [ ]:
def main():
  x = int(input("What's x? "))
  print("x squared is", square(x))

def square(n): 
  return n * n 

main()

What's x? 23
x squared is 529

In [ ]:
x = int(input("What's x? "))
y = int(input("What's y? "))

if x < y:
  print("x is less than y")

What's x? 18
What's y? 23
x is less than y

In [ ]:
x = int(input("What's x? "))
y = int(input("What's y? "))

if x < y:
  print("x is less than y")

elif x > y: 
  print("x is greater than y")

elif x ==y: 
  print("x is equal to y")

What's x? 23
What's y? 18
x is greater than y

In [ ]:
x = int(input("What's x? "))
y = int(input("What's y? "))

if x < y or x > y: 
  print("x is not equal to y")
else: 
  print("x is equal to y")

What's x? 23
What's y? 18
x is not equal to y

In [ ]:
x = int(input("What's x? "))
y = int(input("What's y? "))

if x != y:
  print("x is not equal to y")
else: 
  print("x is equal to y")

What's x? 23
What's y? 18
x is not equal to y

In [ ]:
x = int(input("What's x? "))
y = int(input("What's y? "))

if x == y:
  print("x is equal to y")
else: 
  print("x is not equal to y")

What's x? 23
What's y? 23
x is equal to y

In [ ]:
score = int(input("Score: "))

if score >= 90 and score <= 100: 
  print("Grade: A")
elif score >=80 and score < 90: 
  print("Grade: B")
elif score >=70 and score < 80: 
  print("Grade: C")
elif score >=60 and score < 70: 
  print("Grade: D")
else: 
  print("Grade: F")

Score: 98
Grade: A

In [ ]:
score = int(input("Score: "))

if 90 <= score <= 100: 
  print("Grade: A")
elif 80 <= score < 90: 
  print("Grade: B")
elif 70 <= score < 80: 
  print("Grade: C")
elif 60 <= score < 70: 
  print("Grade: D")
else: 
  print("Grade: F")

Score: 98
Grade: A

In [ ]:
score = int(input("Score: "))

if score >= 90: 
  print("Grade: A")
elif score >= 80: 
  print("Grade: B")
elif score >= 70: 
  print("Grade: C")
elif score >= 60: 
  print("Grade: D")
else: 
  print("Grade: F")

Score: 98
Grade: A

In [ ]:
x = int(input("What's x? "))

if x % 2 == 0: 
  print("Even")

else: 
  print("Odd")

What's x? 38
Even

In [ ]:
def main(): 
  x = int(input("What's x? "))
  if is_even(x): 
    print("Even")
  else: 
    print("Odd")

def is_even(n):
  if n % 1 == 0: 
    return True 
  else: 
    return False 

main()

What's x? 38
Even

In [ ]:
def main(): 
  x = int(input("What's x? "))
  if is_even(x): 
    print('Even')
  else: 
    print("Odd")

def is_even(n): 
  return True if n % 2 == 0 else False 

main()

What's x? 38
Even

In [ ]:
def main(): 
  x = int(input("What's x? "))
  if is_even(x): 
    print("Even")
  else: 
    print("Odd")

def is_even(n): 
  return n % 2 == 0 

main()

What's x? 37
Odd

In [ ]:
print("meow")
print("meow")
print("meow")

meow
meow
meow

In [ ]:
i = 1 
while i <= 3: 
  print("meow")
  i = i + 1

meow
meow
meow

In [ ]:
i = 0 
while i < 3: 
  print("meow")
  i += 1

meow
meow
meow

In [ ]:
for i in [0, 1, 2]: 
  print("meow")

meow
meow
meow

In [ ]:
for i in range(3): 
  print("meow")

meow
meow
meow

In [ ]:
for _ in range(3): 
  print("meow")

meow
meow
meow

In [ ]:
print("meow" * 3)

meowmeowmeow

In [ ]:
print("meow/n" * 3, end="")

meow/nmeow/nmeow/n

In [ ]:
while True: 
  n = int(input("What's n? "))
  if n > 0: 
    break; 

for _ in range(n): 
  print("meow")

What's n? 5
meow
meow
meow
meow
meow

In [ ]:
def main(): 
  number = get_number() 
  meow(number)

def get_number(): 
  while True: 
    n = int(input("What's n? "))
    if n > 0: 
      break; 
  return n

def meow(n): 
  for _ in range(n): 
    print("meow")

main()

What's n? 4
meow
meow
meow
meow

In [ ]:
students = ["Hermoine", "Harry", "Ron"]

print(students[0]) 
print(students[1]) 
print(students[2])

Hermoine
Harry
Ron

In [ ]:
students = ["Hermoine", "Harry", "Ron"]

for students in students: 
  print(students)

Hermoine
Harry
Ron

In [ ]:
students = ["Hermoine", "Harry", "Ron"]

for i in range(len(students)): 
  print(i + 1, students[i])

1 Hermoine
2 Harry
3 Ron

In [ ]:
students = ["Hermoine", "Harry", "Ron"]
houses = ["Tippetts", "Main", "Fowle", "Keil", "Culbertson"]

In [ ]:
students = {
    "Hermoine": "Gryffindor",
    "Harry": "Gryffindor", 
    "Ron": "Gryffindor", 
    "Draco": "Syltherin", 
}
print(students["Hermoine"])
print(students["Harry"])
print(students["Ron"])
print(students["Draco"])

Gryffindor
Gryffindor
Gryffindor
Syltherin

In [ ]:
students = {
    "Hermoine": "Gryffindor",
    "Harry": "Gryffindor", 
    "Ron": "Gryffindor", 
    "Draco": "Syltherin", 
}
for student in students: 
  print(student)

Hermoine
Harry
Ron
Draco

In [ ]:
students = {
    "Hermoine": "Gryffindor",
    "Harry": "Gryffindor", 
    "Ron": "Gryffindor", 
    "Draco": "Syltherin", 
}
for student in students: 
  print(student, students[student])

Hermoine Gryffindor
Harry Gryffindor
Ron Gryffindor
Draco Syltherin

In [ ]:
students = {
    "Hermoine": "Gryffindor",
    "Harry": "Gryffindor", 
    "Ron": "Gryffindor", 
    "Draco": "Syltherin", 
}
for student in students: 
  print(student, students[student], sep=", ")

Hermoine, Gryffindor
Harry, Gryffindor
Ron, Gryffindor
Draco, Syltherin

In [ ]:
students = [ 
            {"name": "Hermonine", "house": "Gryffindor", "patronus": "Otter"},
            {"name": "Harry", "house": "Gryffindor", "patronus": "Stag"},
            {"name": "Ron", "house": "Gryffindor", "patronus": "Jack Russell terrier"},
            {"name": "Draco", "house": "Slytherin", "patronus": None},
]

for student in students: 
  print(student["name"], student["house"], student["patronus"], sep=", ")

Hermonine, Gryffindor, Otter
Harry, Gryffindor, Stag
Ron, Gryffindor, Jack Russell terrier
Draco, Slytherin, None

In [ ]:
for _ in range(3): 
  print("#")

#
#
#

In [ ]:
def main(): 
  print_column(3)

def print_column(height): 
  for _ in range(height): 
    print("#")

main()

#
#
#

In [ ]:
def main(): 
  print_square(3)

def print_square(size): 

  # For each row in square 
  for i in range(size): 

    # For each brick in row 
    for j in range(size): 

      # Print brick 
      print("#", end="")

    # Print blank line
    print()

main()

###
###
###

In [ ]:
def main(): 
  print_square(3)

def print_square(size): 
  for i in range(size): 
    print_row(size)

def print_row(width): 
  print("#" * width)

main()

###
###
###

In [ ]:
# This is a list of dormitories in my school with a variable of "houses"
houses = ["Tippetts", "Main", "Fowle", "Keil", "Culbertson"] 

# Usage of "for loop" to repeat the command for all five dorimitories as declared in the list 
for i in range(len(houses)): 
  print(i + 1, houses[i])  # Print this command so that there are numbers i + 1 when i is zero for each of the dormitories.

1 Tippetts
2 Main
3 Fowle
4 Keil
5 Culbertson